@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&display=swap');

body {
  background: url(/style/background.png);
  padding: 40px;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  height: 100px;
  font-family: 'Baloo Paaji 2';
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}


#score {
  color: #fFBB00;
  text-shadow: 1px 1px 20px #FFBB00;
}

table {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 600px;
  text-align: center;
  color: gray;
  font-family: 'Baloo Paaji 2';
  font-weight: bold;
  font-size: 100px;
  background-color: rgba(54, 54, 54, 0.589);
  border-collapse: collapse;
  border-style: hidden;
  table-layout:fixed;
}

td {
  border: 1px solid gray;
  width: 200px;
  height: 200px;
}


td:hover {
  background-color: rgba(24, 26, 27, 0.685);
}

button {
  padding: 0px;
  margin-top: 40px;
  border-radius: 110px;
  width: 250px;
  height: 110px;
  border: 1px solid gray;
  color: gray;
  font-family: 'Baloo Paaji 2';
  font-size: 60px;
  background-color: rgba(24, 26, 27, 0.685);
}

button:hover {
  background-color: rgba(54, 54, 54, 0.589);
}

div {
  text-align: center;
}